orbs:
  node: circleci/node@5.3.0
  aws-cli: circleci/aws-cli@3.2.0

version: 2.1

parameters:
  node_version:
    type: string
    default: 'lts-browsers'

commands:
  install_deps:
    steps:
      - node/install-packages:
          pkg-manager: pnpm
          cache-version: v2-all
          cache-only-lockfile: true
          app-dir: ~/repo
          override-ci-command: pnpm install --no-frozen-lockfile --reporter=silent

jobs:
  build:
    executor:
      name: node/default
      tag: << pipeline.parameters.node_version >>
    environment:
      AWS_ACCESS_KEY_ID: 'fakeMyKeyId'
      AWS_SECRET_ACCESS_KEY: 'fakeMySecretKey'
    working_directory: ~/repo
    steps:
      - checkout
      - install_deps
      - run: pnpm test
      - run: pnpm type-check
      - run: pnpm lint:ci
