orbs:
  node: circleci/node@5.0.3
  aws-cli: circleci/aws-cli@3.1.3

version: 2.1

parameters:
  node_version:
    type: string
    default: '16.15.1-browsers'

commands:
  install_deps:
    steps:
      - node/install-packages:
          pkg-manager: yarn
          cache-version: v1-all
          cache-only-lockfile: true
          app-dir: ~/repo
          override-ci-command: yarn install --pure-lockfile --no-progress

jobs:
  build:
    executor:
      name: node/default
      tag: << pipeline.parameters.node_version >>
    environment:
      AWS_ACCESS_KEY_ID: 'fakeMyKeyId'
      AWS_SECRET_ACCESS_KEY: 'fakeMySecretKey'
    working_directory: ~/repo
    steps:
      - checkout
      - install_deps
      - run: yarn test
      - run: yarn type-check
      - run: yarn lint:ci
